/* Общий контейнер для текста */
.animate-slide-text {
    position: relative;
    height: 1.2rem; /* Устанавливаем высоту контейнера для текста */
    overflow: hidden; /* Скрываем лишний текст */
  }
  
  /* Стили для текста */
  .animate-slide-text p {
    opacity: 0; /* Изначально скрыт */
    transition: opacity 1s ease; /* Плавное появление текста */
  }
  
  /* Видимый текст */
  .animate-slide-text p.visible {
    opacity: 1; /* Когда класс visible, текст становится видимым */
  }
  