.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-list {
  height: 500px !important;
  overflow: hidden;
}

img,
video {
  max-width: unset;
}


.custom-slider .slick-slide:hover img,
.relative:hover img {
  filter: brightness(0.6);
  transition: filter 0.3s ease; 
  cursor: pointer;
}


